aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
flask
gitpython
hachoir
heroku3
httpx<0.28
motor
pillow
psutil
py-tgcalls==0.9.7
pykeyboard
pyopenssl>=23.2.0
pyrogram==2.0.106
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
uvloop; platform_system != "Windows"
git+https://github.com/yt-dlp/yt-dlp@master
yt-dlp-ejs
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
